on boot

# LVM: Wait for block devices to become available, then set up LVM
# volumes
    wait /dev/block/platform/sdhci-tegra.3/by-name/APP
    wait /dev/block/platform/sdhci-tegra.3/by-name/FLX
    start lvm_vgscan
    start lvm_vgchange
    wait /dev/lvpool/system
    wait /dev/lvpool/system
    wait /dev/lvpool/system
    start lvm_setup
    restorecon /dev/lvpool/system

# LVM services
# Scan for LVM physical volumes and set up volume groups
service lvm_vgscan /sbin/lvm vgscan --mknodes --ignorelockingfailure
    disabled
    oneshot

# Activate LVM logical volumes in found volume groups
service lvm_vgchange /sbin/lvm vgchange -aly --ignorelockingfailure
    disabled
    oneshot

# setup lvm system
service lvm_setup /sbin/setuplvmsystem.sh
    disabled
    oneshot
